*{
    margin: 0;
    padding: 0;
}


.navbar{
    height: 60px;
    width: 100vw;
    background: rgb(219, 215, 201);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
}

.menus{
    display: flex;

}

.menus a{
    color: white;
    padding: 10px;
    text-decoration: none;

}
.profile img{
    height: 300px;
    width: 300px;
    border-radius: 50%;


}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
}

.projectsRow{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
.box{
    height: 100px;
    width: 100px;
    background: rgb(57, 170, 204);
    margin: 20px;
    text-align: center;

}
.footer{
    height: 100px;
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}